html {
    position: relative;
    min-height: 100%;
    overflow-x: hidden;
      background-image: url('../img/fondo-unico.jpg');
      background-position: right top;
      background-repeat: repeat;
}

body {
    margin: 0 0 100px;
    /* bottom = footer height */
}

#contenidoNumero {
  display: none;
}

#contenidoIdentificacion {
  display: none;
}

#contenidoDni {
  display: none;
}

.masterHead {
   background: linear-gradient(-90deg, #0089CB, #003F58);
}

#logoChaco {
  height: 70px;
  width: auto;
  border: none;
  margin-right: 10px;
  margin-top: 15px;
  vertical-align: middle;
  display: inline-block;
}

.consulta {
  height: auto;
  width: auto;
  overflow-y: visible;
}

#footer {
  position: absolute;
  left: 0;
  bottom: 0;
  height: 100px;
  width: 100%;
  overflow: hidden;
  background: linear-gradient(-45deg, #0089CB, #003F58);
}

.recuadro{
  border: 2px solid #025083;
}

.asos {
  font-size: 20px;
}

.tittle{
      margin-bottom: -5px;
      color: #fff;
      margin-top: 10px;
}

.subtittle{
  color: #fff;
  margin-bottom: 20px;
}

#ecom {
  height: 50px;
  width: auto;
}

/*.shadowns {
  box-shadow: 0 9px 0px 0px white,
              0 -9px 0px 0px white,
              12px 0 15px -4px rgba(31, 73, 125, 0.8),
              -12px 0 15px -4px rgba(31, 73, 125, 0.8);
}*/
