@font-face {
    font-family: 'Geomanist';
    src: url('Geomanist-Bold.eot');
    src: url('Geomanist-Bold.eot?#iefix') format('embedded-opentype'),
        url('Geomanist-Bold.woff2') format('woff2'),
        url('Geomanist-Bold.woff') format('woff'),
        url('Geomanist-Bold.ttf') format('truetype'),
        url('Geomanist-Bold.svg#Geomanist-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Geomanist';
    src: url('Geomanist-Bold_1.eot');
    src: url('Geomanist-Bold_1.eot?#iefix') format('embedded-opentype'),
        url('Geomanist-Bold_1.woff2') format('woff2'),
        url('Geomanist-Bold_1.woff') format('woff'),
        url('Geomanist-Bold_1.ttf') format('truetype'),
        url('Geomanist-Bold_1.svg#Geomanist-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
}

